@use "./styles/animation.scss";
@use "./styles/gui.scss";
@use "./styles/label.scss";
@use "./styles//loading-screen.scss";
@use "./styles/info-panel.scss";
@use "./styles/tutorial.scss";
@use "./styles/quiz.scss";
@use "./styles/hud.scss";
@use "./styles/help-panel.scss";
@use "./styles/nav-palette.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: "Trispace", sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

canvas {
  display: block;
}
